html,
body {
  height: 100%;
  background-image: url('forming2.png') ;
  background-position: 0ch;
  background-repeat:norepeat;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.formbody{
border-radius:20px;
padding:20px;
border: 1px solid #f0f0f0;
  border-radius:20px;
  /* padding:20px; */
  background:#fff;
  box-shadow:  3px 3px 3px 3px #f1f1f1;
}


/* ///////////////////form sign up */
.form-signup {
  width: 100%;
  max-width: 70%;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signup .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signup .form-control:focus {
  z-index: 2;
}
.form-signup input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signup input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
h4{
  font-size:12px;
}